<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidcodegeeks.usermanagementsystemapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Active_User_Page"
            android:label="@string/title_activity_active__user__page"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".ViewDetailActivity"
            android:label="View Detail Activity"
            android:parentActivityName=".UserListActivity" />
        <activity
            android:name=".UserListActivity"
            android:label="Users List Activity"
            android:parentActivityName=".Active_User_Page" />
        <activity
            android:name=".About_Developer"
            android:label="About Developer"
            android:parentActivityName=".Active_User_Page" />
        <activity
            android:name=".RegistrationActivity"
            android:label="Registration Activity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>